script(src='//code.jquery.com/jquery-1.11.3.min.js')
script.
	window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')
script(src='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js')

script(src='assets/js/unveil2.min.js')
script(src='assets/js/main.min.js')
