#back-to-top
	a(href="#home", title="#{static.backToTop}")
		i.fa.fa-2x.fa-angle-up
script(src='/assets/js/main.min.js')
script(src="https://www.googletagmanager.com/gtag/js?id=UA-43723492-3" async)
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-43723492-3');
