meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Nicolas Temenides")
meta(name="author" content="Nicolas TEMENIDES - Chypriote")
meta(name="keywords" content="nicolas, temenides, nicolas temenides, nicolast, chypriote, developer, web")
title Nicolas TEMENIDES
link(rel="shortcut icon", href="/assets/images/favico.png")
link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
link(rel='stylesheet', href='/assets/css/main.min.css')
