nav.navigation
	.logo
		a(href="#home")
			span.name nicolas
				span.surname temenides
	.menu
		each link in nav
			a(href="#{link.url}") #{link.title}
		a.mobile.open-menu MENU
			i.fa.fa-bars
nav.navigation.mobile
	.elements
		each link in nav
			a(href="#{link.url}") #{link.title}