- var nav = [{title:'Accueil',url:'#home'},{title:'Formation',url:'#education'},{title:'Compétences',url:'#skills'},{title:'Projets',url:'#projects'}];

nav.navigation
	.container
		.row
			.col-xs-12
				.pull-left
					a(href="#home")
						span.name nicolas
							span.surname temenides
				.pull-right
					.visible-xs.open-menu MENU
						i.fa.fa-bars
				.pull-right
					ul.hidden-xs
						each link in nav
							li: a(href="#{link.url}") #{link.title}
				.mobile-menu
					ul
						each link in nav
							li: a(href="#{link.url}") #{link.title}