.skills {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	.skill {
		position: relative;
		width: 120px;
		height: 120px;
		margin: 5px;
		background: #fff;
		box-shadow: 0 0 3px #ccc;
		overflow: hidden;
		transition: width .5s ease;
  	cursor: pointer;
  	@media (max-width: 767px) {
  		width: 80px;
  		height: 80px;
  	}
		> span {
  		display: block;
  		transition: all .5s;
  		&.devicon {
	  		text-align: center;
	  		font-size: 7em;
	  		@media (max-width: 767px) {font-size: 4em;}
  		}
  		&.image {
  			padding: 5px;
  			-webkit-filter: grayscale(1);
  			img {width: 100%;}
  		}
		}
		&.rectangle {
  		box-shadow: 0 0 10px #acacac;
  		width: 250px;
	  	@media (max-width: 767px) {width: 165px;}
  		> span {opacity: 0.08;}
  		.image {-webkit-filter: grayscale(0);margin-top:-50px;}
  		.skills-description {opacity: 1;}
  	}
		&:hover {
  		box-shadow: 0 0 10px #acacac;
  		.image {-webkit-filter: grayscale(0);}
		}
	}
	.skills-description {
		display: flex;
		flex-direction: column;
		opacity: 0;
		position: absolute;
		top: 0;
		padding: 15px 15px 5px;
		width: 100%;
		height: 100%;
		.skills-title {
  		margin: 0;
			font-size: 1.5em;
			font-weight: 600;
		}
		.skills-footer {
			display: flex;
		}
		.link {
		 font-size: 0.9em;
		 color: #FF6A00;
		 &:hover{text-decoration: underline;}
		}
		p {
			font-size: 1em;
			line-height: 1.2em;
			margin: 0;
			flex-grow: 1;
		}
		.skills-level {
			font-size: 0.8em;
			flex-grow: 1;
			span {padding-right: .4em;}
			i {margin-right: 2px;color:#000;}
		}
	}
}