#work {	display: none;}
.work:extend(.container) {
	display: flex;
	padding-top: 2em;
	& > div {
		width: 49%;
		padding: 0 1em;
	}
	h3 {
		margin: .67em 0;
		color: #aaa;
		&:first-child {margin-top: 0;}
	}
}
.work-img {
	width: 100%;
	padding-bottom: 1em;
}
.work-links {
	display: flex;
}
.btn-work:extend(.btn-default all) {
	width: calc(50% - 0.5em);
	font-size: 1.1em;
	font-weight: bold;
	i {margin-right: 5px;}
	&:first-child {margin-right: 1em;}
}
.work-skill {
	display: inline-block;
	width: 4em;
	height: 4em;
	padding: 0 .25em 1em;
}
.back:extend(.btn-default all) {
	float: right;
	padding: 1em;
	margin-bottom: 2em;
	i {margin-left: 5px;}
}
