.container
	.row
		h1.text-center Projects
		.col-sm-6.col-md-4.project-img-container
			.ih-item
				a(href="#")
					.img
						img.img-responsive(src="assets/images/projects/hermes.jpg")
					.info
						h3 Hermes
						p Réalisation du site
		.col-sm-6.col-md-4.project-img-container
			.ih-item
				a(href="#")
					.img
						img.img-responsive(src="assets/images/projects/bomberman.jpg")
					.info
						h3 Bomberman
						p Réalisation du site
		.col-sm-6.col-md-4.project-img-container
			.ih-item
				a(href="#")
					.img
						img.img-responsive(src="assets/images/projects/easyelo.jpg")
					.info
						h3 Easy Elo
						p Réalisation du site
		.col-sm-6.col-md-4.project-img-container
			.ih-item
				a(href="#")
					.img
						img.img-responsive(src="assets/images/projects/hugues.jpg")
					.info
						h3 Hugues Laurent
						p Réalisation du site
		.col-sm-6.col-md-4.project-img-container
			.ih-item
				a(href="#")
					.img
						img.img-responsive(src="assets/images/projects/challengewars.jpg")
					.info
						h3 Challenge Wars