- var skills = jsonskills;

.container
	.row
		h1.text-center Skills
		h4.text-left Programation
		ul.skills
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
		.clearfix
		h4.text-left Outils
		ul.skills
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno
			li
				span.test
				.skills-text
					span
						h3 Windows
						p Text techno