-var str = static.sections.projects

h2#work-title Titre
.work
	.col-left
		img#work-img.work-img(src="/assets/images/projects/hermes.jpg", alt="work-img")
		.work-links
			a#work-site.btn-work(href="" target="_blank").
				#[i.fa.fa-caret-right]
				#{str.site}
			a#work-git.btn-work(href="" target="_blank").
				#[i.fa.fa-github]
				#{str.github}
		h3 Technologies
		#work-skills
	.col-right
		h3 Description
		#work-description.
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
		h3 Role
		#work-role.
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
		.back-button
			a.back(href="#projects").
				#{str.back}
				#[i.fa.fa-arrow-up]
