img.closeicon(src="assets/images/close.png", alt="icon-close")
.work-gallery
	.image-container
		img.work-img(src="assets/images/projects/hermes.jpg", alt="work-img")
	.work-infos
		h3.work-title Hermes
		span.work-description.
			Verbex is a web app, made to make simple regular expressions a bit easier to construct, by using word-blocks, and by highlighting matches on predefined text. It's built on top of JSVerbalExpressions, using jQuery. Verbex can be found at
		hr
		.work-techno Technologies :
			.work-skills
		.work-links
			a(href="" class="work-site" target="_blank")
				i.fa.fa-caret-right
				| Voir le site
			a(href="" class="work-git" target="_blank")
				i.fa.fa-github
				| Projet sur GitHub
