img.img-responsive.closeicon(src="assets/images/close.png")
.container
	.row
		.col-sm-8.col-lg-7.col-lg-offset-1.gallery-container
			.image-container
				img.img-responsive(src="assets/images/projects/hermes.jpg",
														data-orig="projects/hermes.jpg")
			.image-controls-container
				.image-controls
					img(src="assets/images/left.png", data-direction="left")
					img(src="assets/images/right.png", data-direction="right")
		.col-sm-4.col-lg-3
			h3.work-title Hermes
			span.work-description.
				Verbex is a web app, made to make simple regular expressions a bit easier to construct, by using word-blocks, and by highlighting matches on predefined text. It's built on top of JSVerbalExpressions, using jQuery. Verbex can be found at 