/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import 'vendors/bootstrap.less';
@import 'vendors/slick.less';
//@import 'vendors/font-awesome.less';
// @import 'vendors/devicon.less';
@import 'vendors/effect.less';

@import 'variables.less';
@import	'typography.less';

@import 'sections/navbar.less';
@import 'sections/header.less';
@import 'sections/education.less';
@import 'sections/skills.less';
@import 'sections/work.less';

#content {
  top: 600px;
  position: relative;
}

section {
	background: @section-bg1;
  padding-top: 41px;
  min-height: 100vh;
  border-bottom: 1px solid #ddd;
  .container {
    padding-bottom: 15px;
  }
  &:nth-of-type(2){background: @section-bg2;}
	&#projects .container {border-bottom: none;}
  &#skills .row {margin: 0;}
}

.active {color: @link-hover;}

ul {padding: 0;}
.valign {
	display: table-cell;
	vertical-align: middle;
}

@media (min-width: 1400px) {
	.container {
		width: 1370px;
	}
}