
@import 'variables.less';
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 600;
  padding-bottom: 10px;
}
h2 {
	font-size: 20px;
	font-weight: 500;
}
h3 {
 
}
h4 {

}
h5 {

}
h6 {

}

p {

}

a {
	text-decoration: none;
	&:link, &:visited, &:active, &:focus {
		color: @link-color;
		text-decoration: none;
	}
	&:hover {
		color: @link-hover;
		text-decoration: none;
	}
}