doctype html
html
	head
		include ./inc/head
	body
		#home
		include ./inc/nav
		#splash
			.title
				h1 #{static.title}
				span.small #{static.subtitle}
			.social
				a.github(href="https://github.com/chypriote" target="_blank")
					i.fa.fa-github
				a.linkedin(href="https://fr.linkedin.com/in/nicolas-temenides" target="_blank")
					i.fa.fa-linkedin
				a.email(href="mailto:nicolas.temenides@gmail.com")
					i.fa.fa-envelope
		#content
			section#education
				include ./sections/education
			section#skills
				include ./sections/skills
			section#projects
				include ./sections/projects
			section#work.inversed
				include ./sections/work
		include ./inc/footer
