extends layout

block header
	.valign
		.container
			h1 Nicolas Temenides
			span.small Développeur Web & Software
			ul.social
				li
					a.github(href="https://github.com/chypriote" target="_blank")
						span.valign
							i.fa.fa-github
				li
					a.linkedin(href="https://www.linkedin.com/profile/view?id=311450971" target="_blank")
						span.valign
							i.fa.fa-linkedin
				li
					a.email(href="mailto:nicolas.temenides@epitech.eu")
						span.valign
							i.fa.fa-envelope

block content
	section#education
		include ./sections/education.jade
	section#skills
		include ./sections/skills.jade
	section#work
		include ./sections/work.jade
	section#projects
		include ./sections/projects.jade