doctype html
html
	head
		include ./inc/head.jade
	body
		#home
		include ./inc/nav.jade
		header
			block header
		section#content
			block content
		section.main-container
			block main
		include ./inc/footer.jade